<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 *ngIf="!pacientId" class="h3 mb-0 text-gray-800">Nueva ficha</h1>
        <h1 *ngIf="pacientId" class="h3 mb-0 text-gray-800">Editar ficha</h1>

        <span [class.disabled]="!pacientId ? true : false" data-toggle="tooltip" data-placement="top" title="Primero debe guardar los datos del paciente">
          <a [class.disabled]="!pacientId ? true : false" (click)="openModal()" data-toggle="modal" data-target="#measuresModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-white">
            <i class="fas fa-folder-plus text-white-50"></i> Nueva antropometría
          </a>
        </span>
    </div>

    <div>
        <app-loader *ngIf="loading"></app-loader>
    </div>

    <!-- Content Row -->
    <div *ngIf="!loading" class="row">

        <div class="card shadow mb-4 w-100">
            <a href="#personalInformation" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="personalInformation">
                <h6 class="m-0 font-weight-bold text-primary">Datos personales</h6>
            </a>
            <div class="collapse show" id="personalInformation">
                <div class="card-body">
                    <form class="user" ngNativeValidate #pacientForm=ngForm (ngSubmit)="onSubmitPacient(pacientForm)">
                        <div class="row">
                            <div class="col-2">
                                <img class="img-fluid" src="../../../assets/images/no-img.jpg" alt="">
                            </div>
                            <div class="col-10">
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label class="p-0 m-0 ml-3"><small>DNI</small></label>
                                        <input type="number" class="form-control form-control-user" placeholder="Ingrese el DNI" [ngModel]="pacient.dni" name="dni" required value="{{pacient.dni}}">
                                    </div>
                                    <div class="col-4">
                                        <label class="p-0 m-0 ml-3"><small>Nombre</small></label>
                                        <input type="text" class="form-control form-control-user" placeholder="Ingrese el nombre" [ngModel]="pacient.name" name="name" required value="{{pacient.name}}">
                                    </div>
                                    <div class="col-4">
                                        <label class="p-0 m-0 ml-3"><small>Apellido</small></label>
                                        <input type="text" class="form-control form-control-user" placeholder="Ingrese el apellido" [ngModel]="pacient.surname" name="surname" value="{{pacient.surname}}" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label class="p-0 m-0 ml-3"><small>Fecha de Nacimiento</small></label>
                                        <input (change)="calculateAge($event.target.value)" type="date" class="form-control form-control-user" placeholder="Ingrese la fecha de nacimiento" [ngModel]="birthday" name="birthday" required value="{{birthday}}" min="1900-01-01" max="2900-01-01">
                                    </div>
                                    <div class="col-2">
                                        <label class="p-0 m-0 ml-3"><small>Edad</small></label>
                                        <input type="text" [disabled]="true" class="form-control form-control-user" placeholder="Edad" [ngModel]="age" name="age" required value="{{age}}">
                                    </div>
                                    <div class="col-6">
                                        <label class="p-0 m-0 ml-3"><small>Domicilio</small></label>
                                        <input type="text" class="form-control form-control-user" placeholder="Ingrese el domicilio" [ngModel]="pacient.address" name="address" value="{{pacient.address}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3">
                                <label class="p-0 m-0 ml-3"><small>Obra social</small></label>
                                <input type="text" class="form-control form-control-user" placeholder="Ingrese la obra social" [ngModel]="pacient.socialInsureance" name="socialInsureance" value="{{pacient.socialInsureance}}">
                            </div>
                            <div class="col-3">
                                <label class="p-0 m-0 ml-3"><small>Lugar de Atención</small></label>
                                <input type="text" class="form-control form-control-user" placeholder="Ingrese el lugar de atención" [ngModel]="pacient.placeAppointment" name="placeAppointment" value="{{pacient.placeAppointment}}">
                            </div>
                            <div class="col-3">
                                <label class="p-0 m-0 ml-3"><small>Número de contacto</small></label>
                                <input type="number" class="form-control form-control-user" placeholder="Ingrese el número de contacto" [ngModel]="pacient.contactNumber" name="contactNumber" value="{{pacient.contactNumber}}">
                            </div>
                            <div class="col-3">
                                <label class="p-0 m-0 ml-3"><small>Email</small></label>
                                <input type="email" class="form-control form-control-user" placeholder="Ingrese el email" [ngModel]="pacient.email" name="email" value="{{pacient.email}}">
                            </div>
                        </div>
                        <div class="align-right">
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                          <i class="fas fa-save"></i> Guardar
                        </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="card shadow mb-4 w-100">
            <a href="#antecedentsInformation" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="antecedentsInformation">
                <h6 class="m-0 font-weight-bold text-primary">Antecedentes</h6>
            </a>
            <div class="collapse show" id="antecedentsInformation">
                <div class="card-body">
                    <form class="user" ngNativeValidate #antecedentsForm=ngForm (ngSubmit)="onSubmitAntecedent(antecedentsForm)">
                        <div class="row mb-3">
                            <label class="p-0 m-0 ml-3"><small>Personales</small></label>
                            <textarea class="textarea-antecedent form-control form-control-user" rows="4" cols="60" [ngModel]="antecedent.personal" name="personal" value="{{antecedent.personal}}"></textarea>
                        </div>
                        <div class="row mb-3">
                            <label class="p-0 m-0 ml-3"><small>Familiares</small></label>
                            <textarea class="textarea-antecedent form-control form-control-user" rows="4" cols="60" [ngModel]="antecedent.family" name="family" value="{{antecedent.family}}"></textarea>
                        </div>
                        <div class="row mb-3">
                            <label class="p-0 m-0 ml-3"><small>Medicos</small></label>
                            <textarea class="textarea-antecedent form-control form-control-user" rows="4" cols="60" [ngModel]="antecedent.medication" name="medication" value="{{antecedent.medication}}"></textarea>
                        </div>
                        <div class="row mb-3">
                            <label class="p-0 m-0 ml-3"><small>Bioquímicos</small></label>
                            <textarea class="textarea-antecedent form-control form-control-user" rows="4" cols="60" [ngModel]="antecedent.biochemical" name="biochemical" value="{{antecedent.biochemical}}"></textarea>
                        </div>
                        <div class="row mb-3">
                            <label class="p-0 m-0 ml-3"><small>Otros</small></label>
                            <textarea class="textarea-antecedent form-control form-control-user" rows="4" cols="60" [ngModel]="antecedent.others" name="others" value="{{antecedent.others}}"></textarea>
                        </div>
                        <div class="align-right">
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                              <i class="fas fa-save"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4 w-100">
            <a href="#measuresInformation" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="measuresInformation">
                <h6 class="m-0 font-weight-bold text-primary">Antropometrías</h6>
            </a>
            <div class="collapse show" id="measuresInformation">
                <div class="card-body">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action" *ngFor="let measure of measures">
                            <div class="float-left">
                                {{measure.date | date : "dd/MM/yyyy"}}
                            </div>
                            <div class="float-right row">
                                <div (click)="editMeasure(measure._id)" data-toggle="modal" data-target="#measuresModal" class="text-center col-auto">
                                    <i class="fa fa-edit icon" aria-hidden="true"></i>
                                </div>
                                <div (click)="deleteMeasure(measure._id)" class="text-center col-auto">
                                    <i class="fa fa-trash icon" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="measuresModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-gray-800" id="exampleModalLabel">Medidas Antropométricas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="user" ngNativeValidate #measuresForm=ngForm (ngSubmit)="onSubmitMeasures(measuresForm)">

                            <div class="card shadow mb-4 w-100">
                                <a href="#generalInformation" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="generalInformation">
                                    <h6 class="m-0 font-weight-bold text-primary">General</h6>
                                </a>
                                <div class="collapse show" id="generalInformation">
                                    <div class="card-body">
                                        <input [readonly]="true" [hidden]="true" type="input" class="form-control" [(ngModel)]="measure.pacientId" name="pacientId" value="{{measure.pacientId}}">
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Fecha</small></label>
                                            <input type="date" class="form-control" aria-describedby="basic-addon2" [(ngModel)]="measure.date" name="date" value="{{measure.date}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Observaciones</small></label>
                                            <textarea class="form-control" rows="4" cols="60" [(ngModel)]="measure.others" name="others" value="{{measure.others}}"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Imágenes</small></label>
                                            <!-- <input type="file" class="form-control h-auto" [(ngModel)]="measure.img" name="img" value="{{measure.img}}"> -->
                                            <input type="file" class="form-control h-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4 w-100">
                                <a href="#basicInformation" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="basicInformation">
                                    <h6 class="m-0 font-weight-bold text-primary">Básicas</h6>
                                </a>
                                <div class="collapse show" id="basicInformation">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Peso actual</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese peso actual" aria-describedby="basic-addon2" [(ngModel)]="measure.pesoActual" name="pesoActual" value="{{measure.pesoActual}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">kg</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Talla</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese talla" aria-describedby="basic-addon2" [(ngModel)]="measure.talla" name="talla" value="{{measure.talla}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Talla Sentado</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese talla sentado" aria-describedby="basic-addon2" [(ngModel)]="measure.tallaSentado" name="tallaSentado" value="{{measure.tallaSentado}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Envergadura</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese envergadura" aria-describedby="basic-addon2" [(ngModel)]="measure.envergadura" name="envergadura" value="{{measure.envergadura}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>IMC</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese IMC" aria-describedby="basic-addon2" [(ngModel)]="measure.imc" name="imc" value="{{measure.imc}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">Calcular</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4 w-100">
                                <a href="#diametres1Information" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="diametres1Information">
                                    <h6 class="m-0 font-weight-bold text-primary">Diámetros 1</h6>
                                </a>
                                <div class="collapse show" id="diametres1Information">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Acromial Radial</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese acromial radial" aria-describedby="basic-addon2" [(ngModel)]="measure.acromialRadial" name="acromialRadial" value="{{measure.acromialRadial}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Radial Estiloidea</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese adial estiloidea" aria-describedby="basic-addon2" [(ngModel)]="measure.radialEstiloidea" name="radialEstiloidea" value="{{measure.radialEstiloidea}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Medial Estiloidea Dactilar</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese medial estiloidea dactilar" aria-describedby="basic-addon2" [(ngModel)]="measure.medialEstiloideaDactilar" name="medialEstiloideaDactilar" value="{{pacient.medialEstiloideaDactilar}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Ilio Espinal</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese ilio espinal" aria-describedby="basic-addon2" [(ngModel)]="measure.ilioespinal" name="ilioespinal" value="{{measure.ilioespinal}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Trocanterea</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese trocanterea" aria-describedby="basic-addon2" [(ngModel)]="measure.trocanterea" name="trocanterea" value="{{measure.trocanterea}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Trocanterea Trivial Lateral</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese trocanterea trivial lateral" aria-describedby="basic-addon2" [(ngModel)]="measure.trocantereaTrivialLateral" name="trocantereaTrivialLateral" value="{{measure.trocantereaTrivialLateral}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Tribial Lateral</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese tribial lateral" aria-describedby="basic-addon2" [(ngModel)]="measure.tribialLateral" name="tribialLateral" value="{{measure.tribialLateral}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Tribial Medial Maleolar Medial</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese tribial medial maleolar medial" aria-describedby="basic-addon2" [(ngModel)]="measure.tribialMedialMaleolarMedial" name="tribialMedialMaleolarMedial" value="{{measure.tribialMedialMaleolarMedial}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Pie</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese pie" aria-describedby="basic-addon2" [(ngModel)]="measure.pie" name="pie" value="{{measure.pie}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4 w-100">
                                <a href="#diametres2Information" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="diametres2Information">
                                    <h6 class="m-0 font-weight-bold text-primary">Diámetros 2</h6>
                                </a>
                                <div class="collapse show" id="diametres2Information">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Biacromial</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese biacromial" aria-describedby="basic-addon2" [(ngModel)]="measure.biacromial" name="biacromial" value="{{measure.biacromial}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Torax Transverso</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese torax transverso" aria-describedby="basic-addon2" [(ngModel)]="measure.toraxTransverso" name="toraxTransverso" value="{{measure.toraxTransverso}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Torax Anteroposterior</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese torax anteroposterior" aria-describedby="basic-addon2" [(ngModel)]="measure.toraxAnteroposterior" name="toraxAnteroposterior" value="{{measure.toraxAnteroposterior}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Bi Iliocrestidio</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese bi iliocrestidio" aria-describedby="basic-addon2" [(ngModel)]="measure.biIliocrestidio" name="biIliocrestidio" value="{{measure.biIliocrestidio}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Humeral</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese humeral" aria-describedby="basic-addon2" [(ngModel)]="measure.humeral" name="humeral" value="{{measure.humeral}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Femoral</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese femoral" aria-describedby="basic-addon2" [(ngModel)]="measure.femoral" name="femoral" value="{{measure.femoral}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Muñeca Biestiloideo</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese muñeca biestiloideo" aria-describedby="basic-addon2" [(ngModel)]="measure.munecaBiestiloideo" name="munecaBiestiloideo" value="{{measure.munecaBiestiloideo}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Tobillo Biestiloideo</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese tobillo biestiloideo" aria-describedby="basic-addon2" [(ngModel)]="measure.tobilloBiestiloideo" name="tobilloBiestiloideo" value="{{measure.tobilloBiestiloideo}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4 w-100">
                                <a href="#perimetersInformation" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="perimetersInformation">
                                    <h6 class="m-0 font-weight-bold text-primary">Perímetros</h6>
                                </a>
                                <div class="collapse show" id="perimetersInformation">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Cabeza</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese cabeza" aria-describedby="basic-addon2" [(ngModel)]="measure.cabeza" name="cabeza" value="{{measure.cabeza}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Cuello</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese cuello" aria-describedby="basic-addon2" [(ngModel)]="measure.cuello" name="cuello" value="{{measure.cuello}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Brazo Relajado</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese brazo relajado" aria-describedby="basic-addon2" [(ngModel)]="measure.brazoRelajado" name="brazoRelajado" value="{{measure.brazoRelajado}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Brazo Flex En Tension</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese brazo flex en tension" aria-describedby="basic-addon2" [(ngModel)]="measure.brazoFlexEnTension" name="brazoFlexEnTension" value="{{measure.brazoFlexEnTension}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Antebrazo</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese antebrazo" aria-describedby="basic-addon2" [(ngModel)]="measure.antebrazo" name="antebrazo" value="{{measure.antebrazo}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Muñeca</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese muñeca" aria-describedby="basic-addon2" [(ngModel)]="measure.muneca" name="muneca" value="{{measure.muneca}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Torax Mesoesternal</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese torax mesoesternal" aria-describedby="basic-addon2" [(ngModel)]="measure.toraxMesoesternal" name="toraxMesoesternal" value="{{measure.toraxMesoesternal}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Cintura Minima</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese cintura minima" aria-describedby="basic-addon2" [(ngModel)]="measure.cinturaMinima" name="cinturaMinima" value="{{measure.cinturaMinima}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Abdominal Maximo</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese abdominal máximo" aria-describedby="basic-addon2" [(ngModel)]="measure.abdominalMaximo" name="abdominalMaximo" value="{{measure.abdominalMaximo}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Caderas Máxima</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese caderas máxima" aria-describedby="basic-addon2" [(ngModel)]="measure.caderasMaxima" name="caderasMaxima" value="{{measure.caderasMaxima}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Muslo Superior</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese muslo superior" aria-describedby="basic-addon2" [(ngModel)]="measure.musloSuperior" name="musloSuperior" value="{{measure.musloSuperior}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Muslo Medial</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese muslo medial" aria-describedby="basic-addon2" [(ngModel)]="measure.musloMedial" name="musloMedial" value="{{measure.musloMedial}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Pantorrilla Máxima</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese pantorrilla máxima" aria-describedby="basic-addon2" [(ngModel)]="measure.pantorrillaMaxima" name="pantorrillaMaxima" value="{{measure.pantorrillaMaxima}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Tobillo Mínima</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese tobillo mínima" aria-describedby="basic-addon2" [(ngModel)]="measure.tobilloMinima" name="tobilloMinima" value="{{measure.tobilloMinima}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4 w-100">
                                <a href="#plieguesInformation" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="plieguesInformation">
                                    <h6 class="m-0 font-weight-bold text-primary">Pliegues</h6>
                                </a>
                                <div class="collapse show" id="plieguesInformation">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Triceps</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese triceps" aria-describedby="basic-addon2" [(ngModel)]="measure.triceps" name="triceps" value="{{measure.triceps}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">mm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Subescapular</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese subescapular" aria-describedby="basic-addon2" [(ngModel)]="measure.subescapular" name="subescapular" value="{{measure.subescapular}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">mm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Biceps</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese biceps" aria-describedby="basic-addon2" [(ngModel)]="measure.biceps" name="biceps" value="{{measure.biceps}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">mm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Cresta Iliaca</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese cresta iliaca" aria-describedby="basic-addon2" [(ngModel)]="measure.crestaIliaca" name="crestaIliaca" value="{{measure.crestaIliaca}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">mm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Supraespinal</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese supraespinal" aria-describedby="basic-addon2" [(ngModel)]="measure.supraespinal" name="supraespinal" value="{{measure.supraespinal}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">mm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Abdominal</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese abdominal" aria-describedby="basic-addon2" [(ngModel)]="measure.abdominal" name="abdominal" value="{{measure.abdominal}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">mm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Muslo Anterior</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese muslo anterior" aria-describedby="basic-addon2" [(ngModel)]="measure.musloAnterior" name="musloAnterior" value="{{measure.musloAnterior}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">mm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="p-0 m-0"><small>Pantorrilla</small></label>
                                            <div class="input-group">
                                                <input type="number" step="any" min="0" max="10000" class="form-control" placeholder="Ingrese pantorrilla" aria-describedby="basic-addon2" [(ngModel)]="measure.pantorrilla" name="pantorrilla" value="{{measure.pantorrilla}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">mm</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer align-right border-0">
                                <button type="submit" class="btn btn-primary btn-user btn-block">Guardar</button>
                                <button type="button" id="closeBtn" class="btn btn-secondary btn-user btn-block mt-0" data-dismiss="modal">Cerrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
