<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cambiar contraseña</h1>
    </div>

    <!-- Content Row -->
    <div class="row align-items-center justify-content-center">
        <form class="user form-change-password" ngNativeValidate #changePasswordform=ngForm (ngSubmit)="onSubmit(changePasswordform)">
            <div class="form-group">
                <input type="password" class="form-control form-control-user" placeholder="Contraseña actual" [ngModel]="oldPassword" name="oldPassword" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" placeholder="Contraseña nueva" [ngModel]="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" placeholder="Repita contraseña nueva" [ngModel]="reNewPassword" name="reNewPassword" required>
            </div>
            <div class="align-right">
                <button type="submit" class="btn btn-primary btn-user btn-block">
              <i class="fas fa-save"></i> Guardar
            </button>
            </div>
        </form>
    </div>
</div>
