<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Perfil de usuario</h1>
    </div>

    <!-- Content Row -->
    <div class="row align-items-center justify-content-center">
        <form class="user" ngNativeValidate #userProfileform=ngForm (ngSubmit)="onSubmit(userProfileform)">
            <div class="row">
                <div class="col-md-12 mb-2 text-center">
                    <img (click)="openUploadImage()" class="img-fluid img-profile-user" [src]="user.img | noImage: 'user'" alt="">
                    <input (change)="selectImage($event.target.files[0])" [hidden]="true" type="file" name="file" id="uploadInput">
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nombre" [ngModel]="name" name="name" required value="{{name}}">
                        </div>
                        <div class="col-md-6 ">
                            <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Apellido" [ngModel]="surname" name="surname" value="{{surname}}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-right">
                <button type="submit" class="btn btn-primary btn-user btn-block">
                <i class="fas fa-save"></i> Guardar
              </button>
            </div>
        </form>
    </div>
</div>