<form class="loginForm" ngNativeValidate #loginform=ngForm (ngSubmit)="onSubmit(loginform)">
    <div class="form-group">
        <label>Email </label>
        <input type="email" class="form-control" placeholder="Ingrese su email" [ngModel]="email" name="email" required>
    </div>
    <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña" ngModel name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">
  <i class="fas fa-sign-in-alt"></i>
  Ingresar
</button>
    <div class="m-2">
        <a href="#" class="" routerLink="/register">Registrarse</a>
    </div>
    <div class="m-2">
        <a href="#" class="" routerLink="/forgotpassword">¿Olvidó su contraseña?</a>
    </div>
</form>
